<h1 class="mb-1 restaurant-show-title">Not Found</h1>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 mx-auto">
      <img class="rounded mx-auto d-block mb-4 w-100"
        src="https://cdn.pixabay.com/photo/2016/11/02/05/32/error-1790611_960_720.png" alt="show error"
        style="max-width: 600px;">
    </div>
  </div>
</div>